{{>head}}

<body>
  <div class="main-content">
    {{>header}}
    <p class="about-text">Weather forecast for the specified location using the darksky api.</p>
    <div class="about-photo">
      <img src="/img/earth.jpg" alt="Photo of the Earth from space." class="photo" />
      <div class="photo-source">Photo by NASA on Unsplash</div>
    </div>
  </div>
  {{>footer}}
</body>

</html>